Gunicorn
pytz
Flask>=2.2.2  # Updated Flask to a newer version
Flask-Session
requests
itsdangerous==1.1.0
Jinja2>=3.1.2  # Updated Jinja2 to a newer version
MarkupSafe>=2.1.1
Werkzeug==2.2.3
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
